<form (ngSubmit)="sendMetric()" #utilisateurForm="ngForm" name="metricForm">
  <div *ngFor="let metric of metrics">
    <hr>
    {{ metric.type }}
    <div>

      <div *ngIf="this.metric.isString()">
        <label>value:
          <input [(ngModel)]="metric.value" placeholder="name" name="{{ metric.type }}">
        </label>
      </div>

      <div *ngIf="this.metric.isNumber()">
        <star-rating [starType]="'svg'" [rating]="this.metric.value" (starClickChange)="onClick($event)">></star-rating>
      </div>

    </div>

  </div>

  <hr>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>
